.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  width: 250px;
  text-align: center;
}

.row {
  display: block;
  width: 100%;
  line-height: 1.22;
}

.img {
  height: 215px;
  width: 250px;
}

.row img {
  max-width: 190px;
  max-height: 200px;
  margin:auto;
}

.title {
  padding-bottom: 20px;
  padding-top: 5px;
  font-weight: bold;
  overflow: hidden;
  font-size: 17px;
  color: black;
}
.anchor-cont {
  text-decoration: none;
}

.cart-btn {
  font-weight: bold;
  color: var(--main-red);
  display: flex;
  align-items: center;
  font-size: 15px;
  border: 1px solid var(--main-red);
  border-radius: 40px;
  padding: 6px 15px;
  margin: auto;
}

.highlight-btn {
  color: white;
  background-color: var(--main-red);
  cursor: pointer;
}

.highlight-text {
  color: var(--main-red);
}

.pointer {
  cursor: pointer;
}


.space-right {
  padding-right: 12px;
}

.available {
  color: #1d9100;
  padding-top: 7px;
}

.under-five {
  color: #1d9100;
  padding-top: 7px;
}

.inquiry {
  color: var(--main-red);
  padding-top: 7px;
}

