<a class="anchor-cont">
  <div *ngIf="product" class="col">
      <div class="row img">
          <img src="{{product.image_path}}" alt="clarinet-buffet crampon">
      </div>
      <div class="row title">
          {{product.name}}
      </div>
      <div class="row">
        <button class="cart-btn">
          <span class="space-right">{{product.price}} vč. DPH</span>
          <span class="material-symbols-outlined">shopping_cart</span>
        </button>
      </div>

    <ng-container [ngSwitch]="product.available">
      <div *ngSwitchCase="ProductAvailabilityEnum.Available">
        skladem
      </div>
      <div *ngSwitchCase="ProductAvailabilityEnum.UnderFive">
        < 5ks skladem
      </div>
      <div *ngSwitchCase="ProductAvailabilityEnum.Inquiry">
        na dotaz
      </div>
    </ng-container>
  </div>
</a>

