.container {
  width: 1140px;
  margin: auto;
  color: #444444;
}
h1 {
  margin-block-start: 40px;
  margin-block-end: 40px;
  color: var(--main-red);
}
input {
  border: 1px solid rgba(68, 68, 68, 0.3);
  padding: 10px 11px;
  border-radius: 4px;
  transition: border-color 0.3s;
  float: right;
  width: 100%;
  margin-left: 25px;
}
.group-header {
  display: block;
  font-size: 18px;
  padding: 15px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  text-align: right;
  width: 280px;
}

.row {
  display: flex;
  width: 550px;
  margin-top: 30px;
  align-items: center;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.group-header {
  display: flex;
  align-items:center;
}

.submit-section {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.submit-btn {
  background-color: #45BD0A;
  border-radius: 5px;
  width: 185px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  float: right;
}

.submit-btn:hover {
  background-color: #338D07;
}


.submit-btn:disabled  {
  background-color: rgba(69, 189, 10, 0.40);
  cursor: default;
}

.btn-checkmark {
  background-color: #338D07;
  margin-right: 15px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.submit-btn:disabled .btn-checkmark {
  background-color: rgba(51, 141, 7, 0.3);

}

.submit-btn-text {
  padding-right: 13px;
}


select {
  border: 1px solid rgba(68, 68, 68, 0.3);
  padding: 10px 11px;
  border-radius: 4px;
  float: right;
  width: 100%;
  margin-left: 25px;
}

input:focus {
  border-color: rgba(68, 68, 68, 0.6);
}

.custom-select {
  /* Set initial border color */
  border: 1px solid #ccc;
  transition: border-color 0.3s; /* Add a smooth transition effect */
}

.custom-select:focus {
  border-color: rgba(68, 68, 68, 0.6)
}

.small-row {
  display: flex;
  width: 550px;
  justify-content: flex-start;
}

.small-row-invisible-label {
  width: 238px;
}

.compulsory-message {
  color: var(--main-red);
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 7px 10px;
}

.compulsory-cross{
  font-size: 15px;
  padding-right: 4px;
}

.compulsory-star {
  padding-left: 3px;
  color: var(--main-red);
}

.dropdown-container {
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: opacity 0.8s, height 0.8s 0.5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.hidden {
  display: none;
}

.showDropdown1 {
  opacity: 1;
  height: 190px;
  transition: opacity 0.8s 0.5s, height 0.8s;
  pointer-events: all;
}
.showDropdown2 {
  opacity: 1;
  height: 330px;
  transition: opacity 0.8s 0.5s, height 0.8s;
  pointer-events: all;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 940px;
 }

  .row {
    width: 450px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 720px;
  }
  .row {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: auto;
    margin: 20px;
  }

  h1 {
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-size: 25px;
  }

  .row{
    flex-direction: column;
    width: 100%;
  }

  .small-row {
    width: 100%;
    justify-content: left;
  }
  .small-row-invisible-label {
    width: 0;
  }
  .compulsory-message {
    padding: 7px 0;
  }

  input {
    width: 100%;
    margin: 0;
  }

  label {
    width: 100%;
    text-align: left;
    margin: 10px 25px;
    font-size: 15px;
  }
  select {
    width: 100%;
    margin: 0;
  }

  .dropdown-message {
    font-size: 12px;
    margin-left: 30px;
  }

  .group-header {
    font-size: 17px;
  }

  .showDropdown1 {
    height: 320px;
  }

  .showDropdown2 {
    height: 510px;
  }

}


