<app-header></app-header>
<div class="container">
  <h1>Registrace</h1>

  <div class="group">
    <span class="group-header">
      Přihlašovací údaje
    </span>
    <hr>
    <div class="form">
      <div class="row">
        <label for="login-name">
          Přihlačovací jméno:
        </label>
        <input type="text" id="login-name">
      </div>
      <div class="row">
        <label for="password">
          Heslo:
        </label>
        <input type="text" id="password">
      </div>
      <div class="row">
        <label for="password-again">
          Heslo znovu:
        </label>
        <input type="text" id="password-again">
      </div>
    </div>

  </div>

  <div class="group">
    <span class="group-header">
      <span class="material-symbols-outlined">arrow_drop_down</span>Údaje o firmě
    </span>
    <span>
      Vyplňtě v případě, že jste firma
    </span>
    <hr>
    <div class="dropdown-container"> <!--TODO dropdown menu--></div>
  </div>

  <div class="group">
    <span class="group-header">
      Kontaktní údaje
    </span>
    <hr>
    <div class="form">
      <div class="row">
        <label for="title">
          Titul:
        </label>
        <input type="text" id="title">
      </div>
      <div class="row">
        <label for="firstname">
          Jméno:
        </label>
        <input type="text" id="firstname">
      </div>
      <div class="row">
        <label for="surname">
          Příjmení:
        </label>
        <input type="text" id="surname">
      </div>
      <div class="row">
        <label for="email">
          Email:
        </label>
        <input type="text" id="email">
      </div>
      <div class="row">
        <label for="phone">
          Telefon:
        </label>
        <input type="text" id="phone">
      </div>
      <div class="row">
        <label for="street">
          Ulice
        </label>
        <input type="text" id="street">
      </div>
      <div class="row">
        <label for="city">
          Město
        </label>
        <input type="text" id="city">
      </div>
      <div class="row">
        <label for="psc">
          PSČ:
        </label>
        <input type="text" id="psc">
      </div>
      <div class="row">
        <label for="state">
          Stát:
        </label>
        <input type="text" id="state">
      </div>
    </div>
  </div>

  <div class="group">
    <span class="group-header">
      <span class="material-symbols-outlined">arrow_drop_down</span>Doručovací adresa
    </span>
    <span>
      Vyplňte v případě, že se doručovací adresa liší od kontaktní.
    </span>
  </div>
  <hr>
  <div class="submit-section">
    <button>Dokončit registraci</button>
  </div>
</div>
<app-footer></app-footer>
