.container {
  width: 1140px;
  margin: auto;
  color: #444444;
}
h1 {
  margin-block-start: 40px;
  margin-block-end: 40px;
  color: var(--main-red);
}
input {
  border: 1px solid rgba(68, 68, 68, 0.3);
  padding: 7px 10px;
  border-radius: 4px;
  float: right;
  transition: border-color 0.3s
}
.group-header {
  display: block;
  font-size: 18px;
  padding: 15px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  position: absolute;
  right: 220px;
  top: 7px;
}

.row {
  position: relative;
  width: 380px;
  margin-top: 30px;
  align-items: center;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.group-header {
  display: flex;
  align-items:center;
}

.submit-section {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.submit-btn {
  background-color: #45BD0A;
  border-radius: 5px;
  width: 185px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  float: right;

}

.btn-checkmark {
  background-color: #338D07;
  margin-right: 15px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.submit-btn-text {
  padding-right: 13px;
}

.submit-btn:hover {
  background-color: #338D07;
}

select {
  border: 1px solid rgba(68, 68, 68, 0.3);
  padding: 7px 10px;
  border-radius: 4px;
  float: right;
  width: 185px;
  height: 30px;
}

input:focus {
  border-color: rgba(68, 68, 68, 0.6);
}

.custom-select {
  /* Set initial border color */
  border: 1px solid #ccc;
  transition: border-color 0.3s; /* Add a smooth transition effect */
}

.custom-select:focus {
  border-color: rgba(68, 68, 68, 0.6)
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 940px;
 }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .group-header {
    padding-left: 20px;
    padding-right: 20px;
  }
/*TODO*/
}


