<app-header></app-header>
<form class="container" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h1>Registrace</h1>
  <div class="group">
    <span class="group-header">
      Přihlašovací údaje
    </span>
    <hr>
    <div class="form">
      <div class="row">
        <label for="login-name">
          Přihlašovací jméno:<span class="compulsory-star">*</span>
        </label>
        <input type="text" id="login-name" formControlName="nickname">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('nickname')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="password">
          Heslo:<span class="compulsory-star">*</span>
        </label>
        <input type="password" id="password" formControlName="password">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('password')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="confirm_password">
          Heslo znovu:<span class="compulsory-star">*</span>
        </label>
        <input type="password" id="confirm_password" formControlName="confirm_password">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="isMatchingPassword()" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Hodnoty se neshodují
        </div>
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('password_again')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
    </div>
  </div>

  <div class="group">
    <div class="dropdown-header" (click)="toggleFirm()">
      <span class="group-header">
        <span class="material-symbols-outlined"  [ngClass]="{hidden: isDroppedFirm}">arrow_drop_down</span>
        <span class="material-symbols-outlined"  [ngClass]="{hidden: !isDroppedFirm}">arrow_drop_up</span>
        Údaje o firmě
      </span>

      <span class="dropdown-message">
        Vyplňtě v případě, že jste firma
      </span>
    </div>
    <hr>
    <div class="dropdown-container" [ngClass]="{showDropdown1: isDroppedFirm}">
      <div class="form">
          <div class="row">
            <label for="firm-name">
              Název firmy:
            </label>
            <input type="text" id="firm-name" formControlName="firm_name">
          </div>
          <div class="row">
            <label for="ic">
              IČ:
            </label>
            <input type="text" id="ic" formControlName="ic">
          </div>
          <div class="row">
            <label for="dic">
              DIČ:
            </label>
            <input type="text" id="dic" formControlName="dic">
          </div>
        </div>
    </div>
  </div>

  <div class="group">
    <span class="group-header">
      Kontaktní údaje
    </span>
    <hr>
    <div class="form">
      <div class="row">
        <label for="title">
          Titul:
        </label>
        <input type="text" id="title" formControlName="title">
      </div>
      <div class="row">
        <label for="firstname">
          Jméno:<span class="compulsory-star">*</span>
        </label>
        <input type="text" id="firstname" formControlName="firstname">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('firstname')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="surname">
          Příjmení:<span class="compulsory-star">*</span>
        </label>
        <input type="text" id="surname" formControlName="surname">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('surname')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="email">
          Email:<span class="compulsory-star">*</span>
        </label>
          <input type="text" id="email" formControlName="email">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('email')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="phone">
          Telefon:
        </label>
        <input type="text" id="phone" formControlName="phone_number">
      </div>
      <div class="row">
        <label for="street">
          Ulice<span class="compulsory-star">*</span>
        </label>
        <input type="text" id="street" formControlName="street">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('street')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="city">
          Město<span class="compulsory-star">*</span>
        </label>
        <input type="text" id="city" formControlName="city">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('city')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="psc">
          PSČ:<span class="compulsory-star">*</span>
        </label>
        <input type="text" id="psc" formControlName="psc">
      </div>
      <div class="small-row">
        <div class="small-row-invisible-label"></div>
        <div *ngIf="showError('psc')" class="compulsory-message">
          <span class="material-symbols-outlined compulsory-cross">close</span>
          Povinná položka
        </div>
      </div>
      <div class="row">
        <label for="state">
          Stát:
        </label>
        <select name="state" id="state" class="custom-select" formControlName="state">
          <option value="cz" selected="selected">Česká republika</option>
          <option value="sk" >Slovensko</option>
          <option value="de" >Německo</option>
          <option value="be" >Belgie</option>
          <option value="bg" >Bulharsko</option>
          <option value="dk" >Dánsko</option>
          <option value="ee" >Estonsko</option>
          <option value="fi" >Finsko</option>
          <option value="fr" >Francie</option>
          <option value="hr" >Chorvatsko</option>
          <option value="ie" >Irsko</option>
          <option value="it" >Itálie</option>
          <option value="cy" >Kypr</option>
          <option value="lt" >Litva</option>
          <option value="lv" >Lotyšsko</option>
          <option value="lu" >Lucembursko</option>
          <option value="hu" >Maďarsko</option>
          <option value="mt" >Malta</option>
          <option value="nl" >Nizozemsko</option>
          <option value="pl" >Polsko</option>
          <option value="pt" >Portugalsko</option>
          <option value="at" >Rakousko</option>
          <option value="ro" >Rumunsko</option>
          <option value="gr" >Řecko</option>
          <option value="si" >Slovinsko</option>
          <option value="gb" >Spojené království</option>
          <option value="es" >Španělsko</option>
          <option value="se" >Švédsko</option>
        </select>
      </div>
    </div>
  </div>

  <div class="group">
    <div class="dropdown-header" (click)="toggleAddress()">
      <span class="group-header">
        <span class="material-symbols-outlined"  [ngClass]="{hidden: isDroppedAddress}">arrow_drop_down</span>
        <span class="material-symbols-outlined"  [ngClass]="{hidden: !isDroppedAddress}">arrow_drop_up</span>
        Doručovací adresa
      </span>
       <span class="dropdown-message">
        Vyplňte v případě, že se doručovací adresa liší od kontaktní.
      </span>
    </div>
    <hr>
    <div class="dropdown-container" [ngClass]="{showDropdown2: isDroppedAddress}">
      <div class="form">
        <div class="row">
          <label for="name-or-firm-name">
            Jméno a příjmení (popř. firma):
          </label>
          <input type="text" id="name-or-firm-name" formControlName="name_or_firm_name">
        </div>
        <div class="row">
          <label for="delivery_street">
            Ulice:
          </label>
          <input type="text" id="delivery_street" formControlName="delivery_street">
        </div>
        <div class="row">
          <label for="delivery_city">
            Město
          </label>
          <input type="text" id="delivery_city" formControlName="delivery_city">
        </div>
        <div class="row">
          <label for="delivery_psc">
            PSČ:
          </label>
          <input type="text" id="delivery_psc" formControlName="delivery_psc">
        </div>
        <div class="row">
          <label for="delivery_state">
            Stát:
          </label>
          <select name="state-select-2" id="delivery_state" class="custom-select" formControlName="delivery_state">
            <option value="cz" selected="selected">Česká republika</option>
            <option value="sk" >Slovensko</option>
            <option value="de" >Německo</option>
            <option value="be" >Belgie</option>
            <option value="bg" >Bulharsko</option>
            <option value="dk" >Dánsko</option>
            <option value="ee" >Estonsko</option>
            <option value="fi" >Finsko</option>
            <option value="fr" >Francie</option>
            <option value="hr" >Chorvatsko</option>
            <option value="ie" >Irsko</option>
            <option value="it" >Itálie</option>
            <option value="cy" >Kypr</option>
            <option value="lt" >Litva</option>
            <option value="lv" >Lotyšsko</option>
            <option value="lu" >Lucembursko</option>
            <option value="hu" >Maďarsko</option>
            <option value="mt" >Malta</option>
            <option value="nl" >Nizozemsko</option>
            <option value="pl" >Polsko</option>
            <option value="pt" >Portugalsko</option>
            <option value="at" >Rakousko</option>
            <option value="ro" >Rumunsko</option>
            <option value="gr" >Řecko</option>
            <option value="si" >Slovinsko</option>
            <option value="gb" >Spojené království</option>
            <option value="es" >Španělsko</option>
            <option value="se" >Švédsko</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-section">
    <button type="submit" [disabled]="!profileForm.valid" class="submit-btn">
      <span class="material-symbols-outlined btn-checkmark">
        check
      </span>
      <span class="submit-btn-text">
        Dokončit registraci
      </span>
    </button>
  </div>
</form>
<app-footer></app-footer>
