<br><br><br>
<hr>
<br><br><br>
<!-- TODO delete later ↑ -->

<div class="container">
  <div class="methods container-item">
    <h3 class="title">Platební metody</h3>
    <img src="assets/payment_methods.png" alt="payment methods">
    <img src="assets/EET.jpg" alt="EET">
  </div>
  <div class="important-info container-item">
    <h3 class="title">Důležité informace</h3>
    <ul>
      <li><span class="material-symbols-outlined arrow-right">arrow_forward_ios</span> Jak nakupovat</li>
      <li><span class="material-symbols-outlined arrow-right ">arrow_forward_ios</span> Obchodní podmínky</li>
      <li><span class="material-symbols-outlined arrow-right">arrow_forward_ios</span> Reklamace závady po prvním použití</li>
      <li><span class="material-symbols-outlined arrow-right">arrow_forward_ios</span> Reklamační formulář</li>
    </ul>
  </div>
  <div class="about-company container-item">
    <h3 class="title">O společnosti</h3>
    <ul>
      <li><span class="material-symbols-outlined arrow-right">arrow_forward_ios</span> O nás</li>
      <li><span class="material-symbols-outlined arrow-right">arrow_forward_ios</span> Služby</li>
      <li><span class="material-symbols-outlined arrow-right">arrow_forward_ios</span> Kontakty</li>
    </ul>
  </div>
  <div class="social-media container-item">
    <h3 class="title">Sledujte nás na</h3>
    <img src="assets/facebook%20icon.webp" alt="facebook" class="social-img fb">
    <img src="assets/instagram%20icon.jpg" alt="instagram" class="social-img ig">
  </div>
</div>
