.container {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 35px;
}

.container-item {
  width: 200px;
  padding: 10px;
}

.methods {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.title {
  padding-bottom: 15px;
  color: var(--main-red);
  font-size: 20px;
}

.social-img {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.fb:hover {
  background-image: linear-gradient(#1195f5, darkblue);
  cursor: pointer;
}

.ig:hover {
  background-image: linear-gradient(
    blue,
    rebeccapurple,
    purple,
    red,
    orange,
    yellow
  );
  cursor: pointer;
}

.arrow-right {
  color: var(--main-red);
  font-size: 12px;
}

li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

ul {
  list-style: none;
}

li:hover {
  color: var(--main-red);
  cursor: pointer;
}
