<hr class="horizontal-line">
<div class="container">
  <div class="logo block">
    <span>Hudební</span>
    <span>nástroje</span>
    <span>CLARINA</span>
  </div>
  <div class="message block">
    <p>
      Našim zákazníkům nabízíme odbornost, kvalitu, servis, a hlavně osobní přístup.
      Základem naší práce je znalost potřeb a možností našich zákazníků, díky čemuž
      se můžeme i my zlepšovat. Zaměřili jsme se na koncertní nástroje a nástroje pro
      potřeby malých muzikantů nejen ze Základních uměleckých škol. Našim cílem je
      prodávat v žádané cenové relaci to nejlepší na trhu, a to nejvhodnější pro
      konkrétního zákazníka. Velký důraz klademe na servis.
    </p>
    <p>Vytvořili jsme síť odborných opravářů, díky nimž jsme schopni zajistit opravy
      všech hudebních nástrojů na požadované úrovni. Toto vše pro spokojenost našich
      zákazníků. Tímto bych Vás rád pozval do naší prodejny v Brně, kde se na Vás těší:
      Libor, Pavel, Honza, Lenka a Radim.
    </p>
  </div>
</div>
