.animation-box {
    height: 320px;
    background-color: #4C0F17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number-box {
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: #FBF3EC;
    padding-left: 10%;
    padding-right: 10%;
}

.num  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: #604e51;
}

.animation-item {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.animation-item-item {
    padding: 15px;
}

.title {
    color: white;
    font-size: 54px;
}

.description {
    color: #f1d7c2;
    font-size: 22px;
}

.more-btn {
    color: white;
    display: flex;
    align-items: center;
    font-size: 19px;
    border: 1px solid var(--main-background);
    border-radius: 50px;
    padding: 10px 15px;
}


.btn-arrow {
    color: #CE053F;
}

.num-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--main-red);
  background-color: white;
  color: var(--main-red);
  font-weight: bold;
  font-size: 15px;
}

.highlightButton {
  color: white;
  background-color: var(--main-red);
}

.num-btn:hover {
  cursor: pointer;
  background-color: var(--main-red);
  color: white;
}

.more-btn:hover {
  background-color: var(--main-red);
  border-color: var(--main-red);
}

.more-btn:hover > .btn-arrow {
  color: white;
}

@media (max-width: 1140px) {
  .num>h4 {
    font-size: 15px;
  }
  .number-box {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 991px) {
    .container {
        display:none;
    }
}
