a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  justify-content: space-around;
  background-color: #f8ebe0;
  align-items: center;
  font-size: 14px;
}

.col {
  display: flex;
  align-items: center;
  height: 95px;
}

.margin-sides {
  margin-left: 10px;
  margin-right: 10px;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.circle {
  border-radius: 50%;
  background-color: var(--main-red);
  color: white;
  padding: 0.3em;
}

.cart-text {
  margin-left: 0.4em;
  text-decoration: underline;
  color: var(--main-red);
  font-weight: bold;
}

.shopping:hover {
  color: black;
  text-decoration: none;
}

.logo-img {
  height: 70px;
}

.text-pad-left {
  padding-left: 3px;
}

.search-container {
  background-color: white;
  height: 32px;
  border-radius: 25px;
}

.search-container2 {
  background-color: white;
  height: 32px;
  display: none;
}

.search-bar {
  padding: 10px;
}

.search-img {
  color: var(--main-red);
  padding: 4px 10px;
  border-left: 1px solid rgba(255, 0, 0, 0.158);
}

.lang-btn-container {
  position: relative;
}

.lang-btn {
  display: flex;
  align-items: center;
}

.dropdown-content.hidden {
  display: none;
}

.dropdown-content {
  position: absolute;
  top: 35px;
  left: -55px;
  background-color: white;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.shopping {
  background-color: #fbf3ec;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
}

.shopping:hover > div > .cart-text {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: var(--main-red);
}

.registration:hover {
  color: var(--main-red);
}

.login:hover {
  color: var(--main-red);
}

.search-img:hover {
  color: black;
}

.lang-btn:hover {
  cursor: pointer;
}

input:focus::placeholder {
  color: black;
}

/*MODAL LOGIN WINDOW START*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 10;
  background-color: rgb(252, 251, 251);
  width: 950px;
  max-width: 90%;
  display: none;
}

.modal-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modalWindowActive {
  display: block;
}

.close-button {
  cursor: pointer;
  float: right;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  background-color: #eaeaea;
  border-top-right-radius: inherit;
}

.close-button:hover {
  background-color: rgba(255, 185, 185, 0.83);
  color: #ce053f;
}

.modal-empty-top {
  height: 23px;
}

.modal-row {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 20%;
}

input:focus {
  border-color: rgba(68, 68, 68, 0.6);
}

.modal-row > label {
  width: 200px;
  text-align: right;
  font-size: 14px;
}

.modal-input-box {
  border: 1px solid rgba(68, 68, 68, 0.3);
  padding: 10px 11px;
  border-radius: 4px;
  transition: border-color 0.3s;
  float: right;
  margin-left: 25px;
  width: 250px;
}

.modal-btn-checkmark {
  background-color: #338d07;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 17px;
}

.modal-submit-btn-text {
  padding: 10px 10px;
  font-size: 14px;
}

.modal-submit-btn {
  background-color: #45bd0a;
  border-radius: 5px;

  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-submit-btn:hover {
  background-color: #338d07;
}

#modal-hr-top {
  opacity: 0.35;
}

.modal-form {
  display: block;
}

.modal-title {
  font-size: 19px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.modal-empty-div1 {
  width: 207px;
}

.modal-empty-div2 {
  width: 103px;
}

#modal-forgotten-password {
  text-decoration: underline;
  margin-left: 10px;
  font-size: 14px;
}

#modal-forgotten-password:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.modalOverlayActive {
  opacity: 1;
  pointer-events: all;
}
/*MODAL LOGIN WINDOW END*/

@media (max-width: 991px) {
  .row {
    flex-wrap: wrap;
  }

  .search-container {
    display: none;
  }

  .search-container2 {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  #search-col {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .search-bar {
    width: 100%;
  }

  .shopping {
    background-color: var(--main-background);
  }
}

@media (max-width: 800px) {
  .cart-text {
    display: none;
  }

  .login-text {
    display: none;
  }

  .registration-text {
    display: none;
  }

  .shopping {
    background-color: var(--main-background);
  }

  .modal-row {
    padding-right: unset;
  }
}

@media (max-width: 600px) {
  .modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    max-width: 100%;
  }
  .modal-row {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  .modal-row > label {
    text-align: left;
    padding-bottom: 10px;
  }

  .modal-input-box {
    width: 100%;
    margin-left: unset;
    float: left;
  }

  .modal-empty-div1 {
    display: none;
  }
  .modal-empty-div2 {
    display: none;
  }

  .modal-row-forgotten {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 420px) {
  #logo-img-section {
    width: 100%;
    justify-content: center;
  }

  .logo-img {
  }
}
