<div class="row">
    <div class="col">
        <a href="#"><img src="../../assets/logo.png" alt="clarinalogo"></a>
    </div>
    <div class="col">
        <a href="#">
            <span class="material-symbols-outlined">
                person_add
            </span>
             Registrace
        </a>
    </div>
    <div class="col">
        <a href="#">
            <span class="material-symbols-outlined">
                login
            </span>
            Přihlášení
        </a>
    </div>
    <div class="col">
        <a href="#">
            Search Bar 
            <span class="material-symbols-outlined">
                search
            </span>
        </a>
    </div>
    <a href="#">
        <div class="col">
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            0 Kč
        </div>
    </a>
    <div class="col">
        <a href="#">
            CZ 
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </a>
    </div>
</div>

