a {
    text-decoration: none;
    color: inherit;
}


.row {
    display: flex;
    justify-content: space-around;
    background-color: #F8EBE0;
    align-items: center;
    font-size: 14px;
    --main-red: #CE053F;
    --main-background: #F8EBE0;
}

.col {
    display: flex;
    align-items: center;
    height: 95px;
    padding-left: 15px;
    padding-right: 15px;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.circle {
    border-radius: 50%;
    background-color: var(--main-red);
    color: white;
    padding: 0.3em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.cart-text {
    margin-left: 0.4em;
    text-decoration:underline;
    color: var(--main-red);
    font-weight: bold;
}

.shopping:hover {
    color: black;
    text-decoration: none;
}

.logo-img {
    height: 70px;
}

.search-container {
    background-color: white;
    height: 32px;
    border-radius: 25px;
}

.search-img {
    color: var(--main-red);
    padding-left: 7px;
    border-left: 1px solid rgba(255, 0, 0, 0.158);
}

.lang-btn-container {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 75%;
    right: 4%;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.shopping {
    background-color: #FBF3EC;
}


.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.shopping:hover > div > .cart-text{
    color:black;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: var(--main-red);
}

.registrace:hover {
    color: var(--main-red);
}

.prihlaseni:hover {
    color: var(--main-red);
}

.search-img:hover {
    color:black;
}

.lang-btn:hover {
    cursor:pointer;
}

input:focus::placeholder {
    color:black;
}

@media (max-width: 991px) {
    .row {
    flex-wrap: wrap;
    }

    .search-container {
        order: 1;
        width: 800px;
        border-radius: 3px;
    }

    .search-bar {
        width: 770px;
    }

    .shopping {
        background-color: var(--main-background);
    }
}

@media (max-width: 800px) {
    .search-container {
        width: 100%;
    }

    .search-bar {
        width: 97%;
    }

    .cart-text {
        display:none;
    }
    
    .prihlaseni-text {
        display:none;
    }

    .registrace-text {
        display: none;
    }

    .shopping {
        background-color: var(--main-background);
    }
}

