<div class="row">
    <div class="col">
        <a routerLink=""><img src="/assets/logo.png" alt="clarinalogo" class="logo-img"></a>
    </div>
    <div class="col">
        <a href="#" class="center-vertical registration">
            <span class="material-symbols-outlined">
                person_add
            </span>
            <span class="registration-text">
                Registrace
            </span>
        </a>
    </div>
    <div class="col">
        <a href="#" class="center-vertical login">
            <span class="material-symbols-outlined">
                login
            </span>
            <span class="login-text">
                Přihlášení
            </span>
        </a>
    </div>
    <div class="col center-vertical search-container">
        <input type="text" name="search-bar" placeholder="Zadejte hledaný výraz" class="search-bar">
        <a href="#" class="search-img-a">
            <span class="material-symbols-outlined search-img">search</span>
        </a>
    </div>
    <a href="#" class="col shopping">
        <div class="center-vertical">
            <span class="material-symbols-outlined circle">
                shopping_cart
            </span>
            <span class="cart-text">
                0 Kč
            </span>
        </div>
    </a>
    <div class="col lang-btn-container">
        <button (click)="toggle()" class="lang-btn" >
            <span>
                CZ
            </span>
            <span *ngIf="!isDropped" class="material-symbols-outlined">
                arrow_drop_down
            </span>
            <span *ngIf="isDropped" class="material-symbols-outlined">
                arrow_drop_up
            </span>
        </button>
        <div class="dropdown-content" [ngClass]="{hidden: !isDropped}">
            <a href="#">Česky</a>
            <a href="#">Slovensky</a>
            <a href="#">Německy</a>
        </div>
    </div>
</div>

