<div class="container">
  <div class="row">
    <span class="title price">Cena:</span>
    <div class="price-slider">
      <div class="field field-one">
        <span class="min-price">{{minValue}} Kč</span>
      </div>
      <div class="slider">
        <div class="progress" [ngStyle]="sliderClass"></div>
      </div>
      <div class="range-input">
        <input type="range" [(ngModel)]="minValue" (ngModelChange)="prettifySliderLeft()" class="range-min" min="0" max="300000">
        <input type="range" [(ngModel)]="maxValue" (ngModelChange)="prettifySliderRight()" class="range-max" min="0" max="300000">
      </div>
      <div class="field field-two">
        <span class="max-price">{{maxValue}} Kč</span>
      </div>
    </div>
    <div class="dropdown-btn-container">
      <button class="available-button" (click)="toggle()">
        <span>
          Výrobce
        </span>
        <span *ngIf="!isDropped" class="material-symbols-outlined available-button-arrow-symbol">
          arrow_drop_down
        </span>
        <span *ngIf="isDropped" class="material-symbols-outlined available-button-arrow-symbol">
          arrow_drop_up
        </span>
      </button>
      <div class="dropdown-content hidden" [ngClass]="{hidden: !isDropped}"> <!--this will be later done with *ngFor, but now there are no data-->
        <a>Výrobce uga buga</a>
        <a>Uga buga s.r.o.</a>
        <a>Uga buga tvoje volba</a>
        <a>www.gadžo.cz</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <span class="title">Filtry:</span>
    <label for="action" class="checkbox-label">
      <input type="checkbox" name="action" id="action" class="red-square-checkbox">
      <span class="checkmark"></span>
      Akce
    </label>
    <label for="novelty" class="checkbox-label">
      <input type="checkbox" name="novelty" id="novelty" class="red-square-checkbox">
      <span class="checkmark"></span>
      Novinka
    </label>
    <label for="recommended" class="checkbox-label">
      <input type="checkbox" name="recommended" id="recommended" class="red-square-checkbox">
      <span class="checkmark"></span>
      Doporučujeme
    </label>
    <label for="only-available" class="checkbox-label">
      <input type="checkbox" name="only-available" id="only-available" class="red-square-checkbox">
      <span class="checkmark"></span>
      Jen skladem
    </label>
  </div>
  <hr>
  <div class="row">
    <span class="title">Zobrazit:</span>
    <span class="show-link"><a>Top</a></span>
    <span class="show-link"><a>Názvu A-Z</a></span>
    <span class="show-link"><a>Názvu Z-A</a></span>
    <span class="show-link"><a>Od nejlevnějšího</a></span>
    <span class="show-link"><a>Od nejdražšího</a></span>
  </div>
  <hr>
  <div class="row number-page-container">
<!--this will be later done using *ngFor, typescript and directives, but now there are no data for that-->
    <a>Předchozí</a>
    <a>1</a>
    <a>2</a>
    <a>Následující</a>
  </div>
</div>
