<div class="container">
  <div class="row">
    <span class="price">CENA</span>
    <span data-role="rangeslider">
      <label for="price-min">Price:</label>
      <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
      <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
      <label for="price-max">Price:</label>
    </span>
    <select>Výrobce</select>
  </div>
  <div class="row">
    <label for="action" class="checkbox-label">
      <input type="checkbox" name="action" id="action" class="red-square-checkbox">
      <span class="checkmark"></span>
      Akce
    </label>
    <label for="novelty" class="checkbox-label">
      <input type="checkbox" name="novelty" id="novelty" class="red-square-checkbox">
      <span class="checkmark"></span>
      Novinka
    </label>
    <label for="recommended" class="checkbox-label">
      <input type="checkbox" name="recommended" id="recommended" class="red-square-checkbox">
      <span class="checkmark"></span>
      Doporučujeme
    </label>
    <label for="only-available" class="checkbox-label">
      <input type="checkbox" name="only-available" id="only-available" class="red-square-checkbox">
      <span class="checkmark"></span>
      Jen skladem
    </label>
  </div>
  <hr>
  <div class="row">
    <span class="show">Zobrazit:</span>
    <span class="show-link"><a>Top</a></span>
    <span class="show-link"><a>Názvu A-Z</a></span>
    <span class="show-link"><a>Názvu Z-A</a></span>
    <span class="show-link"><a>Od nejlevnějšího</a></span>
    <span class="show-link"><a>Od nejdražšího</a></span>
  </div>
  <hr>
  <div class="row">
    <a>Předchozí</a>
    <a>1</a>
    <a>2</a>
    <a>Následující</a>
  </div>
</div>
