.container {
  display: flex;
  flex-direction: column;
  width: 840px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.price {
  font-size: 22px;
  padding-right: 30px;
  font-weight: bold;
}

.red-square-checkbox {
  border: 2px solid var(--main-red);
  border-radius: 0;
  margin-right: 7px;
  color: var(--main-red);
}

.red-square-checkbox:hover {
  cursor: pointer;
}

.checkbox-label {
  margin-right: 30px;
  font-size: 18px;
  padding-left: 35px;
  padding-top: 4px;

  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid var(--main-red);
}

.checkbox-label:hover input ~ .checkmark {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

.checkbox-label input:checked ~ .checkmark {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--main-red);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show {
  font-size: 22px;
  padding-right: 30px;
  font-weight: bold;
}

.show-link {
  font-size: 18px;
  padding-right: 30px;
}

.show-link a {
  box-shadow: inset 0 0 0 0 var(--main-red);
  color: black;
  margin: 0 -.25rem;
  padding: 5px 10px;
  transition: color .3s ease-in-out, box-shadow .4s ease-in-out;
  border-radius: 30px;
}
.show-link a:hover {
  box-shadow: inset 155px 0 0 0 var(--main-red);
  color: white;
  cursor: pointer;

}
/*TODO active class for these links*/

.available-button {
  display: flex;
  align-items: center;
  margin-left: 35px;
  font-size: 18px;
  padding: 5px 5px 3px 13px;
  border: 1px solid var(--main-red);
  border-radius: 30px;
  cursor: pointer;
}

.dropdown-btn-container {
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #eeeaea;
  z-index: 1;
  border: 2px solid grey;
  width: 200px;
  margin-top: 4px;
  right: 0;
}

.dropdown-content a {
  cursor: pointer;
  padding: 7px;
  border-bottom: 1px solid black;
  width: 100%;
}

.dropdown-content a:last-child {
  border: 0;
}

.dropdown-content a:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}

.hidden {
  display: none;
}

.number-page-container {
  justify-content: center;
}

.number-page-container a {
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px 10px;
  background-color: #f3f3f3;
  border-radius: 3px;
  color: #707070
}

.number-page-container a:hover {
  background-color: #dcdcdc;
  color: black;
}

