<nav>
    <div class="nav">
        <a href="#">
            <div class="col">
                <span class="material-symbols-outlined">music_note</span>DECHOVÉ<br>NÁSTROJE
            </div>
        </a>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>SMYČCOVÉ<br>NÁSTROJE</a>
        </div>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>STRUNNÉ A<br>DRNKACÍ<br>NÁSTROJE</a>
        </div>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>KLÁVESOVÉ<br>NÁSTROJE</a>
        </div>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>KONCERTNÍ BICÍ<br>NÁSTROJE A<br>PERKUSE</a>
        </div>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>NOTY PRO<br>HUDEBNÍ<br>NÁSTROJE</a>
        </div>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>DÁRKOVÉ ZBOŽÍ</a>
        </div>
        <div class="col">
            <a href="#"><span class="material-symbols-outlined">music_note</span>PŘÍSLUŠENSTVÍ</a>
        </div>
    </div>
</nav>
