<div class="row">
    <div class="col">
        <a href="#">DECHOVÉ NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#">SMYČCOVÉ NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#">STRUNNÉ A DRNKACÍ NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#">KLÁVESOVÉ NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#">KONCERTNÍ BICÍ NÁSTROJE A PERKUSE</a>
    </div>
    <div class="col">
        <a href="#">NOTY PRO HUDEBNÍ NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#">DÁRKOVÉ ZBOŽÍ</a>
    </div>
    <div class="col">
        <a href="#">PŘÍSLUŠENSTVÍ</a>
    </div>
</div>