<div class="nav">
    <div class="col">
        <a href="#" class="icon-flex"><div class="dech-nast nast"></div>DECHOVÉ<br>NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex"><div class="smy-nast nast"></div>SMYČCOVÉ<br>NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex"><div class="stru-nast nast"></div>STRUNNÉ A<br>DRNKACÍ<br>NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex"><div class="kla-nast nast"></div>KLÁVESOVÉ<br>NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex"><div class="ko-nast nast"></div>KONCERTNÍ BICÍ<br>NÁSTROJE A<br>PERKUSE</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex"><div class="noty nast"></div>NOTY PRO<br>HUDEBNÍ<br>NÁSTROJE</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex"><div class="darkove nast"></div>DÁRKOVÉ ZBOŽÍ</a>
    </div>
    <div class="col">
        <a href="#" class="icon-flex">PŘÍSLUŠENSTVÍ</a>
    </div>

    <!-- @media (max-width: 991px) -->
    <div class="kategorie">
        <span class="material-symbols-outlined kategorie-img">
            menu
        </span>
        <span>
            Kategorie
        </span>
    </div>
</div>
