a {
    display:block;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    line-height: 14px;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #CE053F;
    align-items: center;
    font-size: 8.6px;
}

.col {
    border-right: 1px solid black;
    flex-grow: 1;
    height: 62px;
}

.last-col {
    border-right: none;
}


.icon-flex {
    display: flex;
    justify-content: center;
}

.kategorie {
    display: none;
}

.img {
    margin-right: 8px;
}

.nast {
    background-repeat: no-repeat;
}

@media (min-width: 992px) and (max-width: 1199px){
    .img {
        display: none;
    }

    .kategorie {
        display: none;
    }
}


@media (max-width: 991px) {
    .col {
        display:none;
    }

    .nav {
        display: flex;
        justify-content: left;
    }

    .kategorie {
        display: flex;
        position: relative;
        align-items: center;
        font-size: 14px;
        color: white;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    .kategorie:hover {
        cursor:pointer;
    }


    .kategorie-img {
        margin-right: 0.5em;
        margin-left: 0.5em;
        border: solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        border-width: 1px
    }


}