<div class="container">
  <div class="map">
    <picture>
      <source media="(max-width: 1270px)" srcset="assets/footer_map_small.jpg">
      <img src="assets/footer_map.jpg" alt="map" class="map-img">
    </picture>

  </div>
  <div class="contact">
    <h3>Otevírací doba</h3>
    <div class="contact-info">
      Česká 9 / 3. patro výtahem 602 00 Brno, Česká republika;
    </div>
    <table>
      <tr>
        <td>Po-Čt</td>
        <td>9:00 - 16:30</td>
      </tr>
      <tr>
        <td>Pá</td>
        <td>9:00 - 16:00</td>
      </tr>
      <tr>
        <td>So</td>
        <td>O prázdninách zavřeno</td>
      </tr>
      <tr>
        <td>Ne</td>
        <td>Zavřeno</td>
      </tr>
    </table>

  </div>
  <div class="email">
    <h3>Nenechte si ujít akční nabídky a novinky</h3>
    <span class="email-input-cont">
      <input type="text" placeholder="Váš e-mail" class="input-email">
      <button class="email-btn"><span class="material-symbols-outlined">send</span></button>
    </span>
    <div class="orders">
      <h3>Objednávky</h3>
      <span>
      +420 739 447 786
    </span>
      <span>
      prodejna@clarina.cz
    </span>
    </div>
  </div>
</div>
