<div class="container">
    <div class="animation-box" [ngStyle]="{'background-image': 'url(' + categories[currentCategory].imagePath + ')'}">
        <div class="animation-item">
            <h3 class="title animation-item-item">{{ categories[currentCategory].title }}</h3>
            <span class="description animation-item-item"> {{ categories[currentCategory].description }}</span>
            <button class="more-btn animation-item-item"><span>Více</span><span class="material-symbols-outlined btn-arrow">chevron_right</span></button>
        </div>
    </div>

    <div class="number-box">
        <div class="num">
            <h4>CLARINA MUSIC</h4>
            <button (click)=setCategory(0) class="num-btn">1</button>
        </div>
        <div class="num">
            <h4>Koncertní nástroje</h4>
            <button (click)=setCategory(1) class="num-btn">2</button>
        </div>
        <div class="num">
            <h4>Příslušenství a noty</h4>
            <button (click)=setCategory(2) class="num-btn">3</button>
        </div>
        <div class="num">
            <h4>Nová prodejna v Bratislavě</h4>
            <button (click)="setCategory(3)" class="num-btn">4</button>
        </div>
        <div class="num">
            <h4>Změna otevírací doby</h4>
            <button (click)="setCategory(4)" class="num-btn">5</button>
        </div>
    </div>
</div>
