<div class="container">
    <div class="animation-box">
        <div class="animatin-one animation-item">
            <h3 class="title animation-item-item">CLARINA MUSIC</h3>
            <span class="description animation-item-item">Vítejte na stránkách firmy CLARINA MUSIC</span>
            <button class="vice-btn animation-item-item"><span>Více</span><span class="material-symbols-outlined btn-arrow">chevron_right</span></button>
        </div>
        <div class="animation-two animation-item">

        </div>
        <div class="animation-three animation-item">

        </div>
        <div class="animation-four animation-item">

        </div>
        <div class="animation-five animation-item">

        </div>
    </div>
    <div class="number-box">
        <div class="one num">
            <h4>CLARINA MUSIC</h4>
            <button>1</button>
        </div>
        <div class="two num">
            <h4>Koncertní nástroje</h4>
            <button>2</button>
        </div>
        <div class="three num">
            <h4>Příslušenství a noty</h4>
            <button>3</button>
        </div>
        <div class="four num">
            <h4>Nová prodejna v Bratislavě</h4>
            <button>4</button>
        </div>
        <div class="five num">
            <h4>Změna otevírací doby</h4>
            <button>5</button>
        </div>
    </div>
</div>